public/onetacimage1.svg filter=lfs diff=lfs merge=lfs -text
public/onetacimage3.svg filter=lfs diff=lfs merge=lfs -text
public/simplitaimage7.svg filter=lfs diff=lfs merge=lfs -text
public/project/onetac4.svg filter=lfs diff=lfs merge=lfs -text
public/project/onetac5.svg filter=lfs diff=lfs merge=lfs -text
public/project/onetac6.svg filter=lfs diff=lfs merge=lfs -text
